body {
    padding: 0;
    border: 0;
    background: linear-gradient(to top right,pink,#9de69d);
    background-size: cover;
    background-repeat: no-repeat;
    color: 
}

/* ****** NAV CONTAINER ****** */
nav {
    padding-left: 30%;
    box-shadow: none;
}

/* ****** NAME CONTAINER ****** */
#nameContainer {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    padding: 2em 0;
}

/* ****** LOGIN CONTAINER ****** */
div#loginContainer.row > form.col.s12 > div.row {
    margin: 0;
}

#loginContainer {
    padding-left: 30%;
}

input#first_name, input#password {
    border: 1px solid white;
    margin-right: 0;
    opacity: .2;
    background-color: white; 
    /*width: 15em;*/
}

input#buttonLogin {
    border: 1px solid white;
    width: 100%;
    padding: 1em .5em;
    /*background-color: transparent;*/
}

p.white-text {
    margin-top: 0;
    font-size: 15px;
}

.row .col {
    padding: 0;
    margin: 0;
}

div#hrDiv {
    display: inline-flex;
    align-content: center;
    width: 80%;
    margin-top: 15px;
}

div#hrDiv > a {
    background-color: transparent;
    color: white;
    padding: 0 5px 0 5px;
    font-size: 1em;
}

div#hrDiv > hr {
    height: 1px;
    background-color: white;
    border: none;
    margin: 10px 15px 0 15px;
    width: 100%;
}

/* ****** Div FB ****** */
div#divFb { 
    padding: 1em .5em;
    font-size: 1.2em;
}

i.fab{
    color: white;
}

button#buttonFb {
    border: none;
    padding: 0;
    box-shadow: none;
}

/* ****** Footer ****** */
footer {
    border-top: 1px solid white;
    padding: 3em 0;
}